.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 30px;

  li {
    font-size: 12px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    border: 1px solid #e7e7e5;
    background: #fff;
    font-family: var(--inter-font);
    font-weight: 500;
    color: #121414;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 3px;
    cursor: pointer;

    &.active {
      color: #106c89;
      border: 1px solid #106c89;

      &:hover {
        background-color: #106c89;
        color: #fff;
      }
    }

    &.disabled {
      background: #ddd;
      color: gray;
      pointer-events: none;
    }
  }
}